GEMINI_API_KEY=YOUR_GEMINI_API_KEY
X_BEARER_TOKEN=TEST_X_BEARER_TOKEN
X_CONSUMER_KEY=TEST_X_CONSUMER_KEY
X_CONSUMER_SECRET=TEST_X_CONSUMER_SECRET
X_ACCESS_TOKEN=TEST_X_ACCESS_TOKEN
X_ACCESS_TOKEN_SECRET=TEST_X_ACCESS_TOKEN_SECRET
